#puzzle-container{
  cursor: context-menu;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 4px;
  transform: scale(0.90);
}
.line{
  display: inline-block;
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  overflow: hidden;
}

.vertical-line{
  margin: 0 4px;
}

.horizontal-line{
  margin: 4px 0;
}

.dot{
  display: inline-block;
  color: black;
  background-color: black;
  margin: 4px;
  overflow: hidden;
}

#puzzle-container br{
  display: block;
  content: "";
}
.num-box{
  display: inline-block;
  width: 100px;
  height: 100px;
  color: black;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  overflow: hidden;
}

@media screen and (max-width: 710px) {
    #puzzle-container {
      transform: scale(0.5) !important;
      white-space: nowrap;
    }
}

#puzzle-buttons{
  width: 678px;
  text-align: center;
}

#puzzle-buttons button{
  border-style: solid;
  border-width: 5px;;
  border-radius: 100%;
  width: 70px;
  padding: 0;
  display: inline-block;
  zoom: 1;
  margin: 10px;
  font-size: 50px;
  line-height: 40px;
  text-align: center;
  padding: 10px 0;
}
button[name="new puzzle"]{
  font-weight: bold;

}
